.tryit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 750px) {
    flex-direction: row;
    justify-content: center;
  }

  .response {
    flex-grow: 1;
  }
}
