// https://coolors.co/0a1128-001f54-034078-1282a2-fefcfb

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+Pro&display=swap");

$oxford-blue: #0a1128ff;
$royal-blue-dark: #001f54ff;
$indigo-dye: #034078ff;
$cg-blue: #1282a2ff;
$white: #fefcfbff;
